body {

    background-color: blueviolet;
}



#toggleTitle {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
  
}

.titre-style {
    display: flex;
    align-self: center;
}







.false{ background-color: red;}

.correct{ background-color: green;}