body {

    font-family: 'New Super Mario Font U', sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    

    
                                                
}

.title-box {

    justify-content: center;
    display: flex;
}

.rules-container {

    display: flex;
    align-items: center;
    justify-content: center;
    

}



#toggleTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: goldenrod;
    font-family: 'New Super Mario Font U', sans-serif;
    color: blue;
    font-size: x-large;

  
}

#toggleTitle:hover {
    background-color: yellowgreen; /* change background on hover */
    transform: scale(1.05);       /* slightly enlarge on hover */
    cursor: pointer;              /* changes mouse to hand icon */
}
.rules-appear {

   
    display: flex;
    text-align: center;
  
}

.titre-style {
    display: flex;
    align-self: center;
    cursor: pointer;
}

#nextButton {
    background-color: transparent; /* Remove button color */
    border: none; /* Remove border */
    padding: 0; /* Optional: remove padding */
    cursor: pointer; /* Make it look clickable */
}










.false{ background-color: red;}

.correct{ background-color: green;}