body {

    font-family: 'New Super Mario Font U', sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    

    
                                                
}

.title-box {

    justify-content: center;
    display: flex;
}

.rules-container {

    display: flex;
    align-items: center;
    justify-content: center;
    

}



#toggleTitle {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: goldenrod;
    font-family: 'New Super Mario Font U', sans-serif;
    color: blue;
    font-size: x-large;

  
}

#toggleTitle:hover {
    background-color: yellowgreen; /* change background on hover */
    transform: scale(1.05);       /* slightly enlarge on hover */
    cursor: pointer;              /* changes mouse to hand icon */
}
.rules-appear {

   
    display: flex;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    font-size: x-large;

}

#quizContainer {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  height: 50vh;           /* make the container fill the viewport */
  
}


.question {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  padding: 50px;
  
}

.options button {

    background-color: bisque;
    font-family: 'New Super Mario Font U', sans-serif;
    padding: 20px;
    font-size: xx-large;
    
}

.options button:hover {

    background-color: yellow; /* change background on hover */
    transform: scale(1.05);       /* slightly enlarge on hover */
    cursor: pointer;            


}


.buttonContainer {
    display: flex;           /* Enable flex layout */
    justify-content: flex-end; /* Push content to the right */
    gap: 10px;               /* Optional: space between buttons */
    padding: 10px;


}

#nextButton {
    background-color: transparent; /* Remove button color */
    border: none; /* Remove border */
    padding: 0; /* Optional: remove padding */
    cursor: pointer; /* Make it look clickable */
}


#score-count {
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    color: gold;
}



.end, #hiddenTextBis {
  text-align: center; /* centers text and inline elements */
  margin bott: 0 auto;     /* centers block elements horizontally */
}

#toggleTitleBis {

    cursor: pointer;
    text-align: left;
    align-items: left;
    color: bisque;
    

}




.false{ background-color: red;}

.correct{ background-color: green;}